<script>
	import { t } from '../store/lang';
	import { usersStore } from '../store/store';
	let addFields = false;
	const newUser = { username: '', family: '' };
	const handleSave = async () => {
		console.log(newUser);
		const res = await fetch(`/api/data?new=user`, {
			method: 'POST',
			body: JSON.stringify(newUser)
		});
		const user = await res.json();
		usersStore.set([...$usersStore, user]);
	};
</script>

<div class="user-box-container h-full w-full rounded shadow bg-yellow-400 flex-shrink-0 p-6">
	<!-- <p class="text-xl font-bold py-4 text-white">{data.username}</p> -->
	<div
		class="box h-full w-full p-4 bg-red-400 flex justify-center items-center rounded shadow"
		on:mouseenter={() => {
			addFields = true;
		}}
		on:mouseleave={() => {
			addFields = false;
		}}
	>
		<div class="box-container flex flex-col justify-center p-2">
			{#if !addFields}
				<p class="text-3xl">+</p>
			{:else if addFields}
				<div class="input-container w-full my-2">
					<label class="text-left text-gray-700 capitalize" for={`username`}
						>{$t('add_user_box.input_container.username')}</label
					>
					<input
						class={`rounded p-2 mb-2 w-full text-sm shadow`}
						id={`username`}
						type="text"
						bind:value={newUser.username}
					/>
					<label class="text-left text-gray-700 capitalize" for={`family`}
						>{$t('add_user_box.input_container.family')}</label
					>
					<input
						class={`rounded p-2 w-full text-sm shadow`}
						id={`family`}
						type="text"
						bind:value={newUser.family}
					/>
				</div>

				<div class="button-container flex w-full">
					<button
						class="w-1/2 p-2 mx-2 mt-2 bg-red-200 hover:bg-red-600 capitalize rounded border-white border-4 cursor-pointer transition-all"
						on:click={() => {
							newUser.username = '';
							newUser.family = '';
						}}>{$t('add_user_box.button_container.cancel')}</button
					>
					<button
						class="w-1/2 p-2 mx-2 mt-2 bg-emerald-200 hover:bg-emerald-600 capitalize rounded border-white border-4 cursor-pointer transition-all"
						on:click={() => {
							handleSave();
						}}>{$t('add_user_box.button_container.save')}</button
					>
				</div>
			{/if}
		</div>
	</div>
</div>
