<script>
	import { t } from '../store/lang';
	import { usersStore, setGlobalMessage, reload } from '../store/store';
	import InputBox from './input_box.svelte';
	export let data, view, index, path;
	const handleSave = async () => {
		userStore.id = fieldsArray[0].value;
		userStore.username = fieldsArray[1].value;
		userStore.family = fieldsArray[2].value;
		userStore.options = fieldsArray[3].value;
		userStore.selected = fieldsArray[4].value;
		userStore.secret = fieldsArrayBack[0].value;
		userStore.secretName = fieldsArrayBack[1].value;
		const save = await fetch(`/api/data?user=${userStore.id}`, {
			method: 'PATCH',
			body: JSON.stringify(userStore)
		});
		const data = await save.json();
		if (save.ok) {
			setGlobalMessage(
				`${userStore.username} ${$t('admin_user_box.handle_save.save_ok')}`,
				'olive'
			);
		} else {
			setGlobalMessage(
				`${$t('admin_user_box.handle_save.save_not_ok', { username: userStore.username })}`,
				'tomato'
			);
		}
	};
	let heads = true;
	$: cardFlipTop = heads
		? `transform: perspective(600px) rotateY(0deg)`
		: `transform: perspective(600px) rotateY(-180deg)`;
	$: cardFlipBack = heads
		? `transform: perspective(600px) rotateY(-180deg)`
		: `transform: perspective(600px) rotateY(0deg)`;
	$: userStore = data;
	$: fieldsArray = [
		{ field: $t('admin_user_box.fields_array.id'), value: userStore.id, key: 'id' },
		{
			field: $t('admin_user_box.fields_array.username'),
			value: userStore.username,
			key: 'username'
		},
		{ field: $t('admin_user_box.fields_array.family'), value: userStore.family, key: 'family' },
		{ field: $t('admin_user_box.fields_array.options'), value: userStore.options, key: 'options' },
		{
			field: $t('admin_user_box.fields_array.selected'),
			value: userStore.selected,
			key: 'selected'
		}
		/* 	{ field: 'secret', value: userStore.secret, key: 'secret' },
		{ field: 'secret name', value: userStore.secretName, key: 'secretName' } */
	];
	$: fieldsArrayBack = [
		{ field: $t('admin_user_box.fields_array.secret'), value: userStore.secret, key: 'secret' },
		{
			field: $t('admin_user_box.fields_array.secret_name'),
			value: userStore.secretName,
			key: 'secretName'
		}
	];
	let generatedUrl = `http://${path}/user/${data.id}`;
	let readyToCopy = false;
	let deleteUserWindow = false;
</script>

{#if deleteUserWindow}
	<div
		class="delete-user-container absolute top-0 left-0 w-screen h-screen overflow-x-hidden bg-red-900 bg-opacity-75 flex justify-center items-center z-20"
	>
		<div class="buttons-container flex">
			<button
				class="mx-6 p-4 px-10 bg-indigo-400 border-white hover:bg-indigo-800 border-4 rounded-lg hover:text-white transition-all text-lg"
				on:click={() => {
					deleteUserWindow = false;
				}}>{$t('admin_user_box.button_container.cancel')}</button
			>
			<button
				class="mx-6 p-4 px-6 bg-red-400 border-white hover:bg-red-800 border-4 rounded-lg hover:text-white transition-all text-lg"
				on:click={async () => {
					setGlobalMessage(`${userStore.username} has been deleted! 😪`, 'darkred');
					deleteUserWindow = false;
					fetch(`/api/data?user=${userStore.id}`, {
						method: 'DELETE'
					});
					reload('all');
				}}
				>{$t('admin_user_box.button_container.delete_message', {
					username: userStore.username
				})}</button
			>
		</div>
	</div>
{/if}

<div class="user-card-container relative">
	<div
		style={`${cardFlipTop}`}
		class={`user-box-container input-box-element h-full w-full rounded shadow bg-emerald-400 flex-shrink-0 p-6 flex flex-col items-center md:block`}
		on:click|self={(e) => {
			heads = false;
		}}
	>
		<div class="name-container w-full flex flex-col justify-between cursor-pointer">
			<div class="name-bloc w-full flex justify-between py-4">
				<p class="text-4xl font-bold capitalize text-white">{userStore.username}</p>
				<button
					class="bg-red-400 border-yellow-200 border-4 w-1/3 rounded hover:bg-red-600 transition-all text-white"
					on:click={() => {
						deleteUserWindow = true;
					}}>{$t('admin_user_box.button_container.delete')}</button
				>
			</div>
			<div
				class="link-container flex py-2 bg-yellow-300 rounded px-4 shadow"
				on:mouseenter={() => {
					readyToCopy = true;
				}}
				on:mouseleave={() => {
					readyToCopy = false;
				}}
				on:click={() => {
					readyToCopy = true;
					try {
						navigator.clipboard.writeText(generatedUrl);
						setGlobalMessage(
							$t('admin_user_box.user_card_container.clipboard_ok', {
								username: userStore.username
							}),
							'olive'
						);
					} catch (err) {
						console.log(err);
						setGlobalMessage(
							$t('admin_user_box.user_card_container.clipboard_not_ok', {
								username: userStore.username,
								error: err
							}),
							'tomato'
						);
					}
				}}
				on:touchstart={() => {
					readyToCopy = true;
					navigator.clipboard.writeText(generatedUrl);
				}}
				on:touchleave={() => {
					readyToCopy = false;
				}}
			>
				<p class="font-bold text-indigo-400 mr-4 flex-shrink-0">
					{readyToCopy
						? $t('admin_user_box.user_card_container.copy_link')
						: $t('admin_user_box.user_card_container.share_link')}
				</p>
				<input type="text" bind:value={generatedUrl} class="w-full px-2" />
			</div>
		</div>
		<div
			class="box w-full sm:w-3/4 mt-4 md:w-full p-4 bg-red-400 flex justify-center items-center rounded shadow"
		>
			<div class="box-container flex flex-col justify-center p-2">
				{#each fieldsArray as option, i}
					<InputBox {view} {option} {i} {index} />
				{/each}

				<div class="button-container flex w-full">
					<button
						class="w-1/2 p-2 mx-2 mt-2 bg-red-200 hover:bg-red-600 capitalize rounded border-white hover:border-yellow-300 border-4 cursor-pointer transition-all"
						on:click={() => {
							userStore = $usersStore[index];
							setGlobalMessage(
								`${userStore.username} ${$t('admin_user_box.button_container.cancel_message')}`,
								'tomato'
							);
						}}>{$t('admin_user_box.button_container.cancel')}</button
					>
					<button
						class="w-1/2 p-2 mx-2 mt-2 bg-emerald-200 hover:bg-emerald-600  capitalize rounded border-white hover:border-yellow-300 border-4 cursor-pointer transition-all"
						on:click={() => {
							handleSave();
						}}>{$t('admin_user_box.button_container.save')}</button
					>
				</div>
			</div>
		</div>
	</div>
	<div
		style={`${cardFlipBack}`}
		class="image-box-container absolute top-0 left-0 bg-red-400 w-full h-full rounded shadow-md p-6 flex flex-col items-center"
		on:click={(e) => {
			heads = true;
		}}
	>
		<div class="name-container w-full flex flex-col justify-between cursor-pointer">
			<div class="name-bloc w-full flex justify-between py-4">
				<p class="text-4xl font-bold capitalize text-white">{userStore.username}</p>
				<button
					class="bg-red-400 border-yellow-200 border-4 w-1/3 rounded hover:bg-red-600 transition-all text-white"
					on:click={() => {
						deleteUserWindow = true;
					}}>{$t('admin_user_box.button_container.delete')}</button
				>
			</div>
			<div
				class="link-container flex py-2 bg-yellow-300 rounded px-4 shadow"
				on:mouseenter={() => {
					readyToCopy = true;
				}}
				on:mouseleave={() => {
					readyToCopy = false;
				}}
				on:click={() => {
					readyToCopy = true;
					try {
						navigator.clipboard.writeText(generatedUrl);
						setGlobalMessage(
							$t('admin_user_box.user_card_container.clipboard_ok', {
								username: userStore.username
							}),
							'olive'
						);
					} catch (err) {
						console.log(err);
						setGlobalMessage(
							$t('admin_user_box.user_card_container.clipboard_not_ok', {
								username: userStore.username,
								error: err
							}),
							'tomato'
						);
					}
				}}
				on:touchstart={() => {
					readyToCopy = true;
					navigator.clipboard.writeText(generatedUrl);
				}}
				on:touchleave={() => {
					readyToCopy = false;
				}}
			>
				<p class="font-bold text-indigo-400 mr-4 flex-shrink-0">
					{readyToCopy ? 'Click to copy' : 'Link to share:'}
				</p>
				<input type="text" bind:value={generatedUrl} class="w-full px-2" />
			</div>
		</div>
		<div
			class="box w-full sm:w-3/4 mt-4 md:w-full p-4 bg-emerald-400 flex justify-center items-center rounded shadow"
		>
			<div class="box-container flex flex-col justify-center p-2">
				{#each fieldsArrayBack as option, i}
					<InputBox {view} {option} {i} {index} />
				{/each}
				<img src={userStore.image} class="h-full my-4 object-scale-down" alt="" />
				<!-- <div class="button-container flex w-full">
					<button
						class="w-1/2 p-2 mx-2 mt-2 bg-red-200 hover:bg-red-600 capitalize rounded border-white hover:border-yellow-300 border-4 cursor-pointer transition-all"
						on:click={() => {
							userStore = $usersStore[index];
							setGlobalMessage(`${userStore.username} edit canceled!`, 'tomato');
						}}>cancel</button
					>
					<button
						class="w-1/2 p-2 mx-2 mt-2 bg-emerald-200 hover:bg-emerald-600  capitalize rounded border-white hover:border-yellow-300 border-4 cursor-pointer transition-all"
						on:click={() => {
							handleSave();
						}}>save</button
					>
				</div> -->
			</div>
		</div>
	</div>
</div>

<style>
	.input-box-element,
	.image-box-container {
		backface-visibility: hidden;
		filter: brightness(0.8) opacity(0.9);
		transition: all 0.3s ease-in-out;
	}

	.input-box-element:hover,
	.image-box-container {
		filter: brightness(1) opacity(1);
	}
</style>
