<script>
	import { setGlobalMessage, usersStore, reload } from '../store/store';
	import { t } from '../store/lang';

	import Upload from '../media/image.svg';
	let picture = `${$usersStore[0].image}`;
	let uploadVisible = false;
	let trigger;
	const allowedFileTypes = ['png', 'jpg', 'jpeg', 'webp', 'heif'];

	const validateImage = (file) => {
		const base64 = file.name.split('.');
		const format = base64[base64.length - 1].toLowerCase();
		if (!allowedFileTypes.includes(format)) {
			setGlobalMessage(
				$t('image_upload.validate_image.invalid_file', allowedFileTypes.join(',')),
				'tomato'
			);
			return false;
		} else {
			return true;
		}
	};
	const renderImage = (e, origin) => {
		let image;
		if (origin === 'click') {
			image = e.target.files[0];
		} else if (origin === 'drop') {
			image = e.dataTransfer.files[0];
		}
		if (validateImage(image) === true) {
			let reader = new FileReader();
			reader.readAsDataURL(image);
			reader.addEventListener('progress', (event) => {
				if (event.loaded && event.total) {
					const percent = (event.loaded / event.total) * 100;
					console.log(`Progress: ${Math.round(percent)}`);
				}
			});
			reader.onload = (e) => {
				picture = e.target.result;
				uploadImage();
			};
		} else {
			console.log('error');
			/* 	setGlobalMessage('Este tipo de archivo no es válido!', 'tomato'); */
		}
	};

	const uploadImage = async () => {
		const image64 = picture.split(',');
		const res = await fetch(`/api/images?image=${$usersStore[0]._id}`, {
			method: 'POST',
			headers: {
				'Content-Type': 'text/plain',
				Accept: 'application/json'
			},
			body: image64[1]
		});
		if (res.ok) {
			setGlobalMessage($t('image_upload.upload_image.upload_ok'), 'olive');
			reload('me', $usersStore[0].id);
		} else if (!res.ok) {
			setGlobalMessage($t('image_upload.upload_image.upload_not_ok'), 'tomato');
		}
		/* 	$protoJobs = newImage.data.id; */
	};
</script>

<div
	class="image-upload-container object-cover relative h-64 sm:h-96 w-full border-4 border-yellow-400"
	on:mouseenter={() => {
		uploadVisible = true;
	}}
	on:mouseleave={() => {
		uploadVisible = false;
	}}
>
	<img
		id="image"
		class="image h-full object-cover w-full relative top-0 left-0 transition-all bg-yellow-400"
		src={picture}
		alt=""
	/>
	<img class="upload-icon absolute top-1/2 left-1/2" src={Upload} alt="" />

	<div
		class="upload-container absolute top-0 left-0 flex h-full w-full justify-center items-center opacity-0 transition-all hover:cursor-pointer"
		class:visible={uploadVisible}
		on:dragenter={() => {
			uploadVisible = true;
		}}
		on:dragleave={() => {
			uploadVisible = false;
		}}
		on:dragover={(e) => {
			e.stopPropagation();
			e.preventDefault();
			// Style the drag-and-drop as a "copy file" operation.
			e.dataTransfer.dropEffect = 'copy';
		}}
		on:drop={(e) => {
			e.stopPropagation();
			e.preventDefault();
			const fileList = e.dataTransfer.files;
			renderImage(e, 'drop');
		}}
		on:click={() => {
			trigger.click();
		}}
	>
		<img class="upload-icon-overlay" src={Upload} alt="" />
		<input
			name="image"
			id="image_input"
			type="file"
			bind:this={trigger}
			on:change={(e) => {
				renderImage(e, 'click');
			}}
		/>
	</div>
</div>

<style>
	.visible {
		opacity: 1;
		background-color: rgba(0, 0, 0, 0.6);
	}
	#image_input {
		display: none;
	}
	.upload-icon {
		transform: translate(-50%, -50%);
	}
</style>
