<script>
	import { t } from '../store/lang';

	import { usersStore } from '../store/store';

	export let option, i, index;
	let edited = false;
	const validate = (e) => {
		if (e.target.value !== $usersStore[index].options[i]) {
			edited = true;
		} else {
			edited = false;
		}
	};
	$: editedField = edited ? 'border-4 border-blue-400' : 'border-0';
</script>

{#if option.field === $t('admin_user_box.fields_array.selected')}
	<div class="input-container w-full my-2">
		<label class="text-left text-gray-50 capitalize" for={`${option.field}-${i}-${index}`}
			>{option.field}</label
		>
		<input
			class={`rounded p-2 text shadow ${editedField}`}
			id={`${option.field}-${i}-${index}`}
			type="checkbox"
			bind:checked={option.value}
		/>
	</div>
{:else if option.field !== $t('admin_user_box.fields_array.selected')}
	<div class="input-container w-full my-2">
		<label class="text-left text-gray-50 capitalize" for={`${option.field}-${i}-${index}`}
			>{option.field}</label
		>
		<input
			class={`rounded p-2 w-full text shadow ${editedField}`}
			id={`${option.field}-${i}-${index}`}
			type="text"
			bind:value={option.value}
			on:input={(e) => {
				validate(e);
			}}
		/>
	</div>
{/if}
