<script>
	import { t } from '../store/lang';
	import { setGlobalMessage } from '../store/store';
	import { createEventDispatcher } from 'svelte';
	import { fade } from 'svelte/transition';
	export let createAdmin;
	let input;
	const dispatch = createEventDispatcher();
	let newPasswd;
	if (createAdmin) newPasswd = 'Your new password';
	const handleLogin = async (key) => {
		try {
			dispatch('waiting');
			let body = {
				input
			};
			const res = await fetch(`/auth/login?${key}=hi`, {
				method: 'POST',
				body: JSON.stringify(body)
			});
			if (res.ok) {
				if (key === 'login') {
					setGlobalMessage($t('login_box.handle_login.login_ok'), 'darkgreen');
					dispatch('goahead');
				} else if (key === 'save') {
					setGlobalMessage($t('login_box.handle_login.save_ok'), 'darkgreen');
					dispatch('goahead');
				}
			} else if (!res.ok) {
				if (key === 'login') {
					setTimeout(() => {
						setGlobalMessage($t('login_box.handle_login.login_not_ok'), 'tomato');
						dispatch('incorrect');
					}, 2000);
				} else if (key === 'save') {
					setTimeout(() => {
						setGlobalMessage($t('login_box.handle_login.save_not_ok'), 'tomato');
						dispatch('incorrect');
					}, 2000);
				}
			}
		} catch (err) {
			console.log(err);
			dispatch('incorrect');
		}
	};
</script>

<p
	class="text-3xl w-full text-center font-bold flex justify-center items-center text-white"
	in:fade
>
	{$t('login_box.welcome.message')}
</p>
<div class="input-box w-full flex flex-col items-center">
	<input
		class="bg-yellow-300 h-12 w-3/4 rounded text-center text-red-800 text-2xl focus:border-white focus:border-2"
		type="password"
		name=""
		id=""
		placeholder={newPasswd}
		bind:value={input}
		on:keypress={(e) => {
			if (e.keyCode === 13) {
				handleLogin('login');
			}
		}}
	/>
</div>
<div class="button-container w-full flex">
	<button
		class="w-full h-14 bg-red-400 border-white text-white text-lg border-t-4 border-b-4 hover:bg-red-600 transition-all"
		on:click={() => {
			handleLogin('login');
		}}>{$t('login_box.button_container.login')}</button
	>
	{#if createAdmin}
		<button
			class="w-full h-14 bg-red-400 border-white text-white text-lg border-t-4 border-b-4 hover:bg-red-600 transition-all"
			on:click={() => {
				handleLogin('save');
			}}>{$t('login_box.button_container.save')}</button
		>
	{/if}
</div>
