<script>
	import { goto } from '$app/navigation';
	import Logout from '$media/logout.svg';
	import { locale, t } from '../store/lang';
	import { setGlobalMessage } from '../store/store';
</script>

<div
	class="sidebar-container w-1/4 sm:w-1/6 md:w-1/8 lg:w-1/12 h-36 bg-emerald-300 absolute top-1/4 hover:z-50 flex flex-col justify-between items-center p-4"
>
	<img
		src={Logout}
		alt=""
		class="hover:bg-emerald-400 transition-all rounded w-1/2"
		on:click={async () => {
			console.log('logging out');
			const res = await fetch('/auth/login?bye=bye', {
				method: 'POST'
			});
			if (res.ok) {
				setGlobalMessage($t('sidebar.logout.logout_ok'), 'royalblue');
				setTimeout(() => {
					goto('/logout');
				}, 1000);
			} else {
				setGlobalMessage($t('sidebar.logout.logout_not_ok'), 'tomato');
			}
		}}
	/>
	<select
		class="bg-emerald-200 rounded border-2 border-white text-sm p-1"
		name=""
		id=""
		bind:value={$locale}
		on:change={async (e) => {
			const res = await fetch(`/api/data?language=${e.target.value}`, { method: 'POST' });
			if (res.ok) {
				setGlobalMessage($t('sidebar.language.set_ok'), 'royalblue');
			} else if (!res.ok) {
				setGlobalMessage($t('sidebar.language.set_not_ok'), 'tomato');
			}
			console.log(e.target.value);
		}}
	>
		<option value="es">Español</option>
		<option value="en">English</option>
	</select>
</div>

<style>
	.sidebar-container {
		transform: translate(-85%);
		transition: all 0.3s ease-in-out;
	}
	.sidebar-container:hover {
		transform: initial;
	}
</style>
