<script>
	import { get } from 'svelte/store';
	import { setGlobalMessage, usersStore } from '../store/store';
	import { t } from '../store/lang';
	import Test from '$media/test.svg';
	import Clear from '$media/clear.svg';
	import PhotoDelete from '$media/photo_delete.svg';
	import Download from '$media/download.svg';
	import UserAll from '$media/user_all.svg';
	import UserDeleteAll from '$media/user_delete_all.svg';
	import Head from '$media/head.svg';

	// For batch user creating and testing, options array is limited to 3 strings.
	/* const users = [
		{
			username: '',
			family: '',
			options: ['', '', '']
		}
	]; */

	// helper functions for autogenerating and testing – enable buttons on HTML

	const batchUpload = async () => {
		try {
			users.forEach(async (item) => {
				const res = await fetch(`/api/data`, {
					method: 'POST',
					body: JSON.stringify(item)
				});
				if (res.ok) {
					$t('testing.batch_upload.upload_ok');
					$t('testing.batch_upload.upload_not_ok');
					setGlobalMessage(
						$t('testing.batch_upload.upload_ok', { username: item.username }),
						'olive'
					);
				} else {
					setGlobalMessage(
						$t('testing.batch_upload.upload_not_ok', { username: item.username }),
						'olive'
					);
				}
			});
		} catch (err) {
			setGlobalMessage($t('testing.batch_upload.users_undefined', { err }), 'tomato');
			console.error(err);
		}
	};
	const getAll = async () => {
		const res = await fetch(`/api/data?all=all`);
		if (res.ok) {
			const userData = await res.json();
			usersStore.set([]);
			userData.forEach((item) => {
				usersStore.set([...get(usersStore), item]);
			});
			setGlobalMessage($t('testing.get_all'), 'darkgreen');
		}
	};
	const populateAll = async () => {
		const res = await fetch(`/api/data?all=all`);
		const data = await res.json();
		for (let i = 0; i < data.length; i++) {
			setTimeout(async () => {
				const send = await fetch(`/api/data?secret=${data[i].id}`);
				const newData = await send.json();
				if (send.ok) {
					setGlobalMessage(`${newData.message}`, 'olive');
				} else {
					setGlobalMessage(
						$t('testing.populate_all.send_not_ok', { username: data[i].username }),
						'tomato'
					);
				}
			}, 2000 * i);
		}
	};
</script>

<div
	class="testing-container absolute top-0 left-0 buttons-container h-32 w-full flex bg-red-400 justify-evenly "
>
	<div class="button-container flex flex-col justify-center items-center">
		<button
			class="w-12 h-12 m-2 mt-6 rounded-full bg-white flex justify-center items-center shadow-lg relative"
			on:click={() => {
				batchUpload();
			}}
		>
			<img src={Head} class="absolute w-6 -top-6 left-3" alt="" />
			<img src={UserAll} class="w-1/2" alt="" /></button
		>
		<p class="text-center text-sm text-white hidden sm:block">
			{$t('testing.button_container.add_all')}
		</p>
	</div>
	<div class="button-container flex flex-col justify-center items-center">
		<button
			class="w-12 h-12 m-2 mt-6 rounded-full bg-white flex justify-center items-center shadow-lg relative"
			on:click={() => {
				getAll();
			}}
		>
			<img src={Head} class="absolute w-6 -top-6 left-3" alt="" />
			<img src={Download} class="w-1/2" alt="" /></button
		>
		<p class="text-center text-sm text-white hidden sm:block">
			{$t('testing.button_container.reload_all')}
		</p>
	</div>
	<div class="button-container flex flex-col justify-center items-center">
		<button
			class="w-12 h-12 m-2 mt-6 rounded-full bg-white flex justify-center items-center shadow-lg relative"
			on:click={async () => {
				await fetch(`/api/data`, {
					method: 'DELETE'
				});
			}}
		>
			<img src={Head} class="absolute w-6 -top-6 left-3" alt="" />
			<img src={UserDeleteAll} class="w-1/2" alt="" /></button
		>
		<p class="text-center text-sm text-white hidden sm:block">
			{$t('testing.button_container.delete_all')}
		</p>
	</div>
	<div class="button-container flex flex-col justify-center items-center">
		<button
			class="w-12 h-12 m-2 mt-6 rounded-full bg-white flex justify-center items-center shadow-lg relative"
			on:click={async () => {
				const res = await fetch(`/api/data?images=all`, {
					method: 'PATCH'
				});
				if (res.ok) {
					setGlobalMessage('Images have been deleted!', 'darkgreen');
				} else {
					setGlobalMessage('Error deleting images :(', 'tomato');
				}
			}}
		>
			<img src={Head} class="absolute w-6 -top-6 left-3" alt="" />
			<img src={PhotoDelete} class="w-1/2" alt="" /></button
		>
		<p class="text-center text-sm text-white hidden sm:block">
			{$t('testing.button_container.delete_images')}
		</p>
	</div>
	<div class="button-container flex flex-col justify-center items-center">
		<button
			class="w-12 h-12 m-2 mt-6 rounded-full bg-white flex justify-center items-center shadow-lg relative"
			on:click={async () => {
				const res = await fetch(`/api/data?reset=all`, {
					method: 'PATCH'
				});
				if (res.ok) {
					setGlobalMessage('Game has been reseted!', 'darkgreen');
				} else {
					setGlobalMessage('Error resetting the game :(', 'tomato');
				}
			}}
		>
			<img src={Head} class="absolute w-6 -top-6 left-3" alt="" />
			<img src={Clear} class="w-1/2" alt="" /></button
		>
		<p class="text-center text-sm text-white hidden sm:block">
			{$t('testing.button_container.restart_game')}
		</p>
	</div>
	<div class="button-container flex flex-col justify-center items-center">
		<button
			class="w-12 h-12 m-2 mt-6 rounded-full bg-white flex justify-center items-center shadow-lg relative"
			on:click={async () => {
				populateAll();
			}}
		>
			<img src={Head} class="absolute w-6 -top-6 left-3" alt="" />
			<img src={Test} class="w-1/2" alt="" /></button
		>
		<p class="text-center text-sm text-white hidden sm:block">
			{$t('testing.button_container.run_game')}
		</p>
	</div>
</div>

<style>
	.testing-container {
		z-index: 20;
		transform: translate(0, -90%);
		transition: all 0.3s ease-in-out;
	}
	.testing-container:hover {
		transform: initial;
	}
</style>
