<script>
	import { t, locale, locales } from '../store/lang';
	import _, { map } from 'underscore';
	import { setGlobalMessage, usersStore } from '../store/store';
	import { slide, fade } from 'svelte/transition';
	import InputBox from './input_box.svelte';
	import Christmas from '../media/christmas.svg';
	import Star from '../media/star.svg';
	import Snow from '../media/snow.svg';
	import Gift from '../media/gift.svg';
	import Head from '../media/head.svg';
	import Back from '../media/back.svg';
	import ImageUpload from './image_upload.svelte';
	import { createEventDispatcher } from 'svelte';
	import { goto } from '$app/navigation';
	export let view, index;
	let secretSanta = false;
	let loadingAnimation = false;
	const dispatch = createEventDispatcher();
	const handleSave = async () => {
		userStore.username = fieldsArray[0].value;
		userStore.options[0] = fieldsArray[1].value;
		userStore.options[1] = fieldsArray[2].value;
		userStore.options[2] = fieldsArray[3].value;
		const save = await fetch(`/api/data?me=${userStore.id}`, {
			method: 'PATCH',
			body: JSON.stringify(userStore)
		});
		if (save.ok) {
			setGlobalMessage($t('user_box.handle_save.save_ok'), 'darkgreen');
			/* setGlobalMessage('Se han guardado los cambios!', 'darkgreen'); */
		} else if (!save.ok) {
			setGlobalMessage($t('user_box.handle_save.save_not_ok'), 'tomato');
			/* setGlobalMessage('Hubo un erro al guardar los cambios!', 'tomato'); */
		}
	};

	let heads = true;
	const iconArray = [Christmas, Star, Snow, Gift];
	const TopIcon = _.sample(iconArray);
	$: cardFlipTop = heads
		? `transform: perspective(600px) rotateY(0deg)`
		: `transform: perspective(600px) rotateY(-180deg)`;
	$: cardFlipBack = heads
		? `transform: perspective(600px) rotateY(-180deg)`
		: `transform: perspective(600px) rotateY(0deg)`;
	$: userStore = $usersStore[index];
	$: fieldsArray = [
		{
			field: $t('user_box.fields_array.username'),
			value: userStore.username,
			key: 'username'
		},
		{
			field: $t('user_box.fields_array.preference_1'),
			value: userStore.options[0],
			key: 'options[0]'
		},
		{
			field: $t('user_box.fields_array.preference_2'),
			value: userStore.options[1],
			key: 'options[1]'
		},
		{
			field: $t('user_box.fields_array.preference_3'),
			value: userStore.options[2],
			key: 'options[2]'
		}
	];
	$: sphereClass = loadingAnimation
		? 'bg-red-500 rounded-full h-64 w-64 animate-bounce top-1/2 left-1/2'
		: 'user-box-container input-box-element sm:h-full w-full rounded bg-emerald-400 flex-shrink-0 p-6 shadow-lg';
	$: nameLabelClass = loadingAnimation
		? ''
		: 'text-2xl font-bold py-4 normalcase text-white bg-emerald-300 px-6 rounded-xl w-auto hover:bg-emerald-700 duration-1000';
	const pickSecretSanta = async () => {
		const pick = await fetch(`/api/data?secret=${userStore.id}`);
		if (pick.ok) {
			const res = await fetch(`/api/data?me=${userStore.id}`);
			const userData = await res.json();
			usersStore.set([userData]);
		} else {
			setGlobalMessage($t('user_box.pick_secret_santa.pick_not_ok'), 'tomato');
		}
	};
</script>

<div class="user-box relative" class:overflow-hidden={!heads}>
	<div
		style={`${cardFlipTop}`}
		class={`${sphereClass}`}
		on:click|self={(e) => {
			if (userStore.secretName) {
				heads = false;
			}
		}}
		in:fade
	>
		<div class="name-container w-full flex justify-between items-center cursor-pointer">
			<p
				class={nameLabelClass}
				class:bg-white={loadingAnimation}
				on:click={() => {
					// dont allow the user to play the game if they haven't uploaded a picture
					if ($usersStore[0].image === undefined) {
						setGlobalMessage($t('user_box.pick_secret_santa.set_image'), 'tomato');
					} else {
						if (!loadingAnimation && userStore.secretName === undefined) {
							loadingAnimation = true;
							dispatch('animation', { status: true });
							pickSecretSanta();
							setTimeout(() => {
								dispatch('animation', { status: false });
								loadingAnimation = false;
								heads = false;
							}, 5000);
						} else if (!loadingAnimation && userStore.secretName) {
							heads = false;
						}
					}
					// allow to play without restriction
					/* if (!loadingAnimation && userStore.secretName === undefined) {
							loadingAnimation = true;
							dispatch('animation', { status: true });
							pickSecretSanta();
							setTimeout(() => {
								dispatch('animation', { status: false });
								loadingAnimation = false;
								heads = false;
							}, 5000);
						} else if (!loadingAnimation && userStore.secretName) {
							heads = false;
						} */
				}}
				on:mouseenter={() => {
					secretSanta = true;
				}}
				on:mouseleave={() => {
					secretSanta = false;
				}}
				on:touchstart={() => {
					secretSanta = true;
				}}
				on:touchcancel={() => {
					secretSanta = false;
				}}
			>
				{#if !loadingAnimation}
					{secretSanta
						? `${userStore.username} ${$t('user_box.pick_secret_santa.box_label')}`
						: userStore.username}
				{:else if loadingAnimation}
					<p class="absolute text-4xl animate-spin top-28 left-28" in:fade>🎅</p>
					<img alt="sphere head" src={Head} class="top-ball absolute h-24 w-24 -top-20 left-1/2" />
				{/if}
			</p>
			{#if !loadingAnimation}
				<img
					alt="click to flip card and see"
					src={TopIcon}
					class=" py-4"
					on:click={() => {
						if (userStore.secretName) {
							heads = false;
						}
					}}
					in:fade
				/>
			{/if}
		</div>
		<div
			class:hidden={loadingAnimation}
			class="box w-full p-4 mt-4 bg-red-400 flex flex-col sm:grid sm:grid-rows-1 sm:grid-cols-2 justify-center items-center rounded shadow-lg"
			in:fade
		>
			<div
				class="image-upload-container grid-cols-1 col-span-1 grid-rows-1 row-span-1 w-full lg:w-96"
			>
				<ImageUpload />
			</div>
			<div
				class="box-container flex flex-col justify-center p-2 grid-cols-2 col-span-1 grid-rows-1 row-span-1"
			>
				{#each fieldsArray as option, i}
					<InputBox {view} {option} {i} {index} />
				{/each}
				<div class="button-container flex w-full">
					<button
						class="w-1/2 p-2 mx-2 mt-2 bg-red-200 hover:bg-red-600 capitalize rounded border-white hover:border-yellow-300 border-4 cursor-pointer transition-all"
						on:click={() => {
							userStore = $usersStore[index];
						}}>{$t('user_box.button_container.cancel')}</button
					>
					<button
						class="w-1/2 p-2 mx-2 mt-2 bg-blue-200 hover:bg-blue-600 capitalize rounded border-white hover:border-yellow-300 border-4 cursor-pointer transition-all"
						on:click={() => {
							handleSave();
						}}>{$t('user_box.button_container.save')}</button
					>
				</div>
			</div>
		</div>
	</div>
	<div
		style={`${cardFlipBack}`}
		class="back-card-container overflow-scroll absolute top-0 left-0 w-full h-full flex flex-col sm:grid sm:grid-rows-1 sm:grid-cols-2 justify-center items-center shadow-xl bg-red-400 rounded-lg"
		on:click|self={(e) => {
			heads = true;
		}}
		in:fade
	>
		<div
			class="back-card-image-text-bloc-left col-start-1 col-span-1 w-full h-full p-4 flex flex-col justify-center items-center rounded-t-lg sm:rounded-tl-lg sm:rounded-tr-none sm:rounded-l-lg"
		>
			<p
				class="text-white text-xl md:text-3xl absolute top-2 px-2 md:px-4 w-auto sm:top-10 bg-opacity-80 rounded-xl bg-emerald-600 text-center sm:p-2 z-10"
			>
				¡{userStore.secretName}!
			</p>
			<div class="back-card-image-text-container relative flex justify-center items-center">
				<img
					src={userStore.secretImage}
					alt=""
					class="profile-picture relative top-0 left-0 w-5/6 h-full shadow-xl p-4 border-4 border-yellow-400"
				/>
			</div>
		</div>
		<div
			class="back-card-image-text-bloc-right col-start-2 col-span-1 w-full h-full p-4 bg-emerald-600 flex flex-col justify-center items-center rounded-b-lg sm:rounded-br-lg sm:rounded-bl-none sm:rounded-r-lg border-yellow-400 border-8"
		>
			<img
				src={Back}
				class="absolute top-0 right-1 sm:top-4 sm:right-4 z-50"
				alt=""
				on:click={() => {
					heads = true;
				}}
			/>
			<div
				class="options-container bg-emerald-200 rounded md:h-1/2 md:w-2/3 items-center flex flex-col overflow-scroll p-2 break-all"
			>
				<p
					class="text-xl p-4 flex-shrink-0"
					on:mouseenter={(e) => {
						const str = userStore.secretOptions[0];
						if (str.includes('http') || str.includes('com')) {
							e.target.style.cursor = 'pointer';
						}
					}}
					on:click={() => {
						const str = userStore.secretOptions[0];
						if (str.includes('http')) {
							goto(str);
						} else if (!str.includes('http') && str.includes('.com')) {
							goto(`https://${str}`);
						}
					}}
				>
					{userStore.secretOptions[0]} ✨
				</p>
				<p
					class="text-xl p-2 overflow-scroll flex-shrink-0"
					on:mouseenter={(e) => {
						const str = userStore.secretOptions[1];
						if (str.includes('http') || str.includes('com')) {
							e.target.style.cursor = 'pointer';
						}
					}}
					on:click={() => {
						const str = userStore.secretOptions[1];
						if (str.includes('http')) {
							goto(str);
						} else if (!str.includes('http') && str.includes('.com')) {
							goto(`https://${str}`);
						}
					}}
				>
					{userStore.secretOptions[1]} ☃️
				</p>
				<p
					class="text-xl p-4 overflow-scroll flex-shrink-0"
					on:mouseenter={(e) => {
						const str = userStore.secretOptions[2];
						if (str.includes('http') || str.includes('com')) {
							e.target.style.cursor = 'pointer';
						}
					}}
					on:click={(e) => {
						const str = userStore.secretOptions[2];
						if (str.includes('http')) {
							goto(str);
						} else if (!str.includes('http') && str.includes('.com')) {
							goto(`https://${str}`);
						}
					}}
				>
					{userStore.secretOptions[2]} 🎈
				</p>
			</div>
		</div>
	</div>
</div>

<style>
	.input-box-element,
	.back-card-container {
		backface-visibility: hidden;
		filter: brightness(0.9) opacity(0.9);
		transition: all 0.3s ease-in-out;
	}

	.input-box-element:hover,
	.back-card-container:hover {
		filter: brightness(1) opacity(1);
	}
	.hidden {
		display: none;
	}
	.top-ball {
		transform: translate(-50%, 0);
	}
	.spinner {
		transform: translate(-50%, -50%);
	}
	.transform-letf {
		transform: translate(-50%);
	}
	.back-card-image-text-bloc-left {
		background-image: url('../media/background.png');
		background-size: 450px;
	}
	.profile-picture {
		background-color: rgba(0, 0, 0, 0.5);
	}
</style>
