<script>
	import { globalMessageStatus, globalMessage } from '../store/store';
	import { slide } from 'svelte/transition';
	import '../app.css';
</script>

<div class="h-screen w-screen max-h-screen max-w-screen bg-gray-50 overflow-hidden">
	{#if $globalMessageStatus}
		<p
			class="global-message text-lg text-white w-full text-center items-center flex justify-center p-2 overflow-hidden z-50 absolute top-0 left-0"
			style="--alert-color:{$globalMessage.color}"
			transition:slide
		>
			{$globalMessage.message}
		</p>
	{/if}
	<slot />
</div>

<style>
	.global-message {
		background-color: var(--alert-color);
	}
</style>
