<script context="module">
	import { t } from '../store/lang';
	export async function load({ session }) {
		if (session.user.isLoggedIn) {
			return {
				status: 302,
				redirect: '/login'
			};
		}
		return {};
	}
</script>

<div class="index-container w-full h-full flex flex-col justify-center items-center">
	<p class="text-red-500">{$t('index.welcome.message_1')}</p>
	<p class="text-lg font-semibold text-emerald-600">{$t('index.welcome.message_2')}</p>
	<p>{$t('index.welcome.message_3')}</p>
</div>
