<script context="module">
	export const ssr = false;
	export async function load({ session }) {
		if (session.user.isLoggedIn) {
			return {
				status: 302,
				redirect: '/admin'
			};
		}
		if (session.user.noAdmin) {
			return {
				props: {
					createAdmin: true
				}
			};
		}
		return {};
	}
</script>

<script>
	import { fade } from 'svelte/transition';
	import LoginBox from '../lib/login_box.svelte';
	export let createAdmin;
	let waiting = false;

	const redirect = () => {
		setTimeout(() => {
			window.location.reload(true);
		}, 1000);
	};
</script>

<div
	class="login-container w-full h-full bg-gray-100 grid grid-cols-1 grid-rows-1 place-items-center"
>
	<div
		class="login-box h-72 w-72 lg:w-96 lg:h-96 grid grid-cols-1 grid-rows-3 bg-emerald-400 relative rounded-2xl shadow-lg"
	>
		{#if waiting}
			<div class="spinner-container absolute top-1/2 left-1/2">
				<p class="text-4xl animate-spin" in:fade>🎅</p>
			</div>
		{:else if !waiting}
			<LoginBox
				{createAdmin}
				on:goahead={redirect}
				on:waiting={() => {
					waiting = true;
				}}
				on:incorrect={() => {
					waiting = false;
				}}
			/>
		{/if}
	</div>
</div>

<style>
	.spinner-container {
		transform: translate(-50%, -50%);
	}
</style>
