<script context="module">
	export const ssr = false;
	export const load = async ({ page, fetch, session }) => {
		console.log(session);
		if (session.user.isLoggedIn) {
			const title = page.params.slug;
			currentView.set(title);
			const res = await fetch(`/api/data?all=all`);
			const userData = await res.json();
			userData.forEach((item) => {
				usersStore.set([...get(usersStore), item]);
			});
			return {
				props: {
					path: page.host,
					title,
					data: userData,
					language: session.user.defaultLanguage
				}
			};
		} else if (!session.user.isLoggedIn) {
			return {
				status: 307,
				redirect: '/'
			};
		}
	};
</script>

<script>
	import { locale } from '../../store/lang';
	import { usersStore, currentView } from '../../store/store';
	import AdminUserBox from '$lib/admin_user_box.svelte';
	import AddUserBox from '$lib/add_user_box.svelte';
	import Sidebar from '$lib/sidebar.svelte';
	import { get } from 'svelte/store';
	import Testing from '$lib/testing.svelte';
	export let path, language;
	if (language) $locale = language;
	let testing = true;
	let view = 'admin';
</script>

<div class="admin-container h-screen w-screen overflow-hidden">
	{#if testing}
		<Testing />
	{/if}
	<Sidebar />
	<div
		class="user-box-container w-screen h-full overflow-scroll grid gap-4 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 p-6 md:p-12"
	>
		{#each $usersStore as element, index}
			<AdminUserBox data={element} {view} {index} {path} />
		{/each}
		<AddUserBox />
	</div>
</div>
