<script context="module">
	export const load = async ({ page, fetch, session }) => {
		const title = page.params.slug;
		console.log('this is fetching', title);
		const res = await fetch(`/api/data?me=${title}`);
		if (!res.ok) {
			return {
				status: 404,
				error: new Error(`${title} does not exist! :o`)
			};
		} else {
			const userData = await res.json();
			usersStore.set([userData]);
			return {
				props: {
					title,
					data: userData,
					language: session.user.defaultLanguage
				}
			};
		}
	};
</script>

<script>
	import { locale } from '../../store/lang';
	import { usersStore } from '../../store/store';
	import UserBox from '../../lib/user_box.svelte';
	export let data, language;
	if (language) $locale = language;
	let index = 0;
	let view = 'user';
	let animationStatus = false;
	$: animationClass = animationStatus
		? 'justify-center items-center'
		: 'sm:justify-center sm:items-center';
	const changeClass = (e) => {
		animationStatus = e.detail.status;
	};
</script>

<div class="boxes-container h-full w-full grid grid-rows-1 grid-cols-1">
	<div class={`user-box-container p-4 w-full flex h-full overflow-scroll ${animationClass}`}>
		<UserBox {view} {data} {index} on:animation={changeClass} />
	</div>
</div>
